.ProductsHeading{
    font-size: 28px;
    font-variant-caps: all-petite-caps;
    margin: 10px 0;
    color: #ff6347;
    font-weight: 900;
}
.ProductsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}